.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text: #8A9297;
  background-color: #2A3B57; /* Dark Navy Blue (Primary) */
}

.bottom-content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-self: flex-start;
  background-color: #2A3B57;
  border-right: 0.25rem solid #151f2e;

}
menuitem{
  color: white;
}
.css-1wvake5 {
  border-right-width: 0 !important;
}

.main {
  padding-left: 10px;
}

.content {
  flex: 1;
  border-right: 0.25rem solid #151f2e;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #A0CED9;
  border-bottom: 0.25rem solid #151f2e;
  overflow: hidden;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1f2d43;
  border-top: 0.25rem solid #151f2e;
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  font-size: 22px;
  color: black;
  white-space: nowrap;  
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}



.logo {
  max-height: 70%;
  max-width: 70%;
}

.plain-link {
  text-decoration: none;
  cursor: pointer;
  background-color: #2A3B57;
  color: #8A9297; /* White text for contrast */
}

.menu{
  background-color: #2A3B57;
  color: white;
}

.menu-item{
  color: white;
  background-color: #2A3B57;
}

.sidebar-container .menu .ps-menu-button:hover {
  background-color: #1f2d43;
}
