.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text: #8A9297;
  background-color: #2A3B57; /* Dark Navy Blue (Primary) */
}

.bottom-content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-self: flex-start;
  background-color: #2A3B57;
  border-right: 0.25rem solid #151f2e;

}

.css-1wvake5 {
  border-right-width: 0 !important;
}

.main {
  padding-left: 10px;
}

.content {
  flex: 1;
  border-right: 0.25rem solid #151f2e;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #A0CED9; /* Light Teal (Accent) */
  border-bottom: 0.25rem solid #151f2e; /* Dark Navy Blue for subtle border */
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1f2d43;
  border-top: 0.25rem solid #151f2e; /* Dark Navy Blue for subtle border */
}

.logo-text {
  padding-left: 10px;
  font-size: larger;
  color: black;
}

.logo {
  max-height: 70%;
  max-width: 70%;
}

.plain-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  color: #8A9297; /* White text for contrast */
}

.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

li {
  background-color: #2A3B57; /* Dark Navy Blue (Primary) */
  color: #e7e7e7; /* White text for contrast */
}

/* NOTE: not working. */
.sidebar-container .pro-menu-item:hover .pro-item-content {
  color: black !important;
}