.card{
    color: #1a1a1a;
}

.welcome-message{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .home-logo {
    max-width: 200px;
    height: auto;
    filter: brightness(0) invert(1);
  }