.footer {
  display: flex;
  flex-direction: column;
  height: 60px;
  color: rgb(165, 165, 165);
  align-items: center;
  justify-content: center;
  background-color: #2a3b57;
  border-top: 0.25rem solid #151f2e;
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  text-align: center;
}