.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #2a3b57;
  height: 40px;
  transition: width 0.3s ease;
  border-bottom: 0.25rem solid #151f2e; /* Dark Navy Blue for subtle border */
  position: relative;
}

.sb-button {
  position: absolute;
  left: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  background-color: #000000;
}

.sb-button:focus {
  outline: none;
}

.logout-button {
  position: absolute;
  right: 10px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #d9534f; /* Bootstrap Danger Red */
  color: white;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c9302c; /* Darker Red */
}

.logout-button:focus {
  outline: none;
}